<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>psr Data-Listup</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="root">
        <input type="text" id="input" v-model="message">
        <p>{{message}}</p>
        <input type="file" id="files" name="files[]" multiple @change="handleFileSelect"/>
        <output id="list"></output>
        <p>{{fileName}}</p>
        <p v-if="nozipfile">{{nozipfile}}</p>
        <p>{{hoge}}</p>
    </div>
    <script type="text/javascript" src="./script/unzip.min.js"></script>
    <script type="text/javascript" src="./script/vue.js"></script>
    <script>
        new Vue({
            el: '#root',
            data: {
                message:`Hello world!`,
                nozipfile: ``,
                fileName:[],
                fileData:[],
                hoge: ""
            },
            methods:{
                handleFileSelect(evt) {
                    var files = evt.target.files; // FileList
                    //エラー処理用
                    this.nozipfile=""
                    var nozip=[]

                    //FileListをループさせる
                    for (var i = 0, f; f = files[i]; i++) {

                        if(f.type==="application/zip"){
                            this.fileName.push(f.name);
                            var reader = new FileReader();
                            //読み込み成功時
                            reader.onload = ((theFile) => {
                                return (e) => {
                                    //zip解凍
                                    let b64 = e.target.result.split(',')[1]
                                    let b =  window.atob(b64);
                                    let bytes = stringToByteArray(b);
                                    let unzip = new Zlib.Unzip(bytes);
                                    console.log(unzip)

                                    //unzip.inputがmhtmlのデータっぽい。これをjsonとかに変換してjavascriptで扱いたい。
                                    //let parser = require('mhtml-parser');
                                    //let data = parser.parse(iconv.decode(unzip.input, "gbk"), {});
                                    console.log(data)

                                    let importFileList = unzip.getFilenames();
                                    this.fileData.push(importFileList)
                                    console.log(importFileList)
                                };
                            })(f);
                            reader.readAsDataURL(f);
                        }else{
                            nozip.push(f.name)
                            this.nozipfile = `zipファイルではありません。→ ${nozip}`;
                        }

                        function stringToByteArray(str) {
                            var array = new (window.Uint8Array !== void 0 ? Uint8Array : Array)(str.length);
                            var i, il;
                            for (i = 0, il = str.length; i < il; ++i) {
                                array[i] = str.charCodeAt(i) & 0xff;
                            }
                            return array;
                        }
                    }
                }
            }
        })
        
  </script>
</body>
</html>